<%= form_for [@question.folder, @question] do |f| %>

  <div>
    <%= f.hidden_field :folder_id %>
  </div>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :type %>
    <%= f.collection_select :type_id, @types, :id, :name, prompt: true %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
