<h3><%= t('.questions_title') %></h3>

<p>
  <%= link_to t('.add_question'), new_folder_question_path(@folder) %>
</p>

<table>
  <thead>
    <tr>
      <th><%=t ('.name_column') %></th>
      <th><%=t ('.type_column') %></th>
      <th><%=t ('.actions_column') %></th>
    </tr>
  </thead>
  <tbody>
    <% @folder.questions.each do |question| %>
    <tr>
      <td>
        <%= question.name %>
      </td>
      <td>
        <%= question.type.name unless question.type.nil? %>
      </td>
      <td>
        <%= link_to t('.edit_question'), edit_folder_question_path(question.folder, question) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
