<h1><%=t '.title' %></h1>

<p>
  <a href="<%= url_for controller: 'folders', action: 'new' %>"><%=t '.new_folder' %></a>
</p>

<table>
  <thead>
    <tr>
      <th><%=t '.column_name' %></th>
      <th><%=t '.column_count_questions' %></th>
      <th><%=t '.column_actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @folders.each do |folder| %>
    <tr>
      <td>
        <%= folder.name %>
      </td>
      <td>
        <%= folder.questions.size %>
      </td>
      <td>
        <%= link_to t('.edit_folder'), edit_folder_path(folder) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
